@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --light-color: #FFC069;
    --light-red: #F5928C;
    --red: #E5291C;
    --dark-red: #AE0D01;
    --dark-bg: #08131A;
    --shadow-white: 2px 4px 4px rgba(132, 132, 132, 0.25);
    --shadow-black: 2px 4px 4px rgba(40, 40, 40, 0.25);
    --shadow-neumorphism: 4px 4px 8px rgba(0, 0, 0, 0.248), -2px -2px 8px rgba(255, 255, 255, 0.242);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--dark-bg);
}


/* Overlay Home */

/* toggle en JS */
.close-home-overlay {
    transform: translateX(-100vw);
    transition: transform ease-out 2s;
}

/*toggle en JS */
.open-home-overlay {
    transform: translateX(100vw);
    transition: transform ease-in 1.5s;
}

#overlay-home {
    left: -100vw;
    background-color: #FFC069;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

#title,
.text {
    max-width: 65vw;
    text-align: center;
}

#title {
    color: var(--dark-red);
    font-size: 3.2rem;
    font-weight: bold;
}

.text {
    line-height: 1.5;
}

#outer-circle {
    height: 13rem;
    width: 13rem;
    border: 1.5rem solid var(--light-red);
    background-color: #FFC069;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-neumorphism);
}

#outer-circle:hover {
    height: 13.5rem;
    width: 13.5rem;
    transition: 0.5s;
}

#inner-circle {
    height: 8.5rem;
    width: 8.5rem;
    background-color: var(--light-red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-neumorphism);
}

#inner-circle:hover {
    height: 9rem;
    width: 9rem;
    transition: 0.5s;
}

#play-button {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
}


/* Navbar */

nav {
    position: relative;
    width: 100vw;
    height: 5rem;
    margin-inline: auto;
    background-color: var(--dark-red);
    border-radius: 0 0 50px 50px;
    box-shadow: var(--shadow-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

ul {
    display: flex;
    justify-content: flex-start;
}

.nav-buttons {
    width: 32px;
    height: 32px;
    margin-left: 10vw;
}

#home-button:hover {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

#info-button:hover {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

#nav-title {
    display: none;
    position: absolute;
    left: 45%;
    color: white;
    font-size: xx-large;
}

nav>div {
    display: flex;
    align-items: center;
    margin-right: 15vw;
}

#switch-button-bg {
    background-color: var(--light-red);
    border-radius: 50px;
    box-shadow: var(--shadow-black);
    height: 20px;
    width: 60px;
    position: absolute;
}

#switch-button {
    width: 32px;
    height: 32px;
    position: relative;
}

#switch-button:hover {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

/* Info overlay */

#info-overlay {
    position: relative;
    top: -100vh;
    display: flex;
    justify-content: center;
    z-index: 3;
}

#info-bg {
    position: absolute;
    height: 100vh;
    width: 80vw;
    background-color: #FFC069;
    border-radius: 0 0 50px 50px;
}

/*toggle en JS */
.close-info-overlay {
    transform: translateY(-100vh);
    transition: transform ease-out 0.5s;
}

/*toggle en JS */
.open-info-overlay {
    transform: translateY(90vh);
    transition: transform ease-in 1s;
}


/* Calculator */

#calculator {
    position: relative;
    height: 640px;
    width: 320px;
    border-radius: 50px;
    background: var(--red);
    box-shadow: var(--shadow-white), -2px -2px 4px rgba(0, 0, 0, 0.25);
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

#bubble {
    width: 80%;
    height: 25%;
    background-color: var(--light-color);
    border-radius: 50px;
    box-shadow: var(--shadow-black);
    padding: 20px;
}

#tail {
    position: absolute;
    top: 29%;
    left: 21%;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 20px solid var(--light-color);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

#gamemode {
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#gamemode>button {
    width: 20%;
    height: 100%;
    background-color: var(--dark-red);
    color: white;
    border-radius: 50px;
    box-shadow: var(--shadow-neumorphism);
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

/*  Buttons interaction  */

#gm1:hover,
#gm2:hover,
#gm3:hover {
    background-color: #FFC069;
}

.button:hover {
    background-color: #FFC069;
    transition: 0.5s;
}

.button:active {
    background-color: #000000;
}

/*---------------------*/


#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 20%;
    background: var(--light-red);
    border-radius: 50px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-consigne {
    font-size: 1.2rem;
    height: 100px;
    width: 200px;
    margin: 5px auto;
}

#screen>img {
    position: absolute;
    mix-blend-mode: soft-light;
    width: 50%;
    height: 50%;
}

#screen>div {
    position: absolute;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 2.5rem;
    color: #08131A;
    overflow: hidden;
    overflow-wrap: break-word;
}

#keys {
    width: 85%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 20px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: var(--red);
    border-radius: 50px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    box-shadow: var(--shadow-neumorphism);
    transition: all 0.2s ease-in-out;
}

#footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #AE0D01;
}

#footer>p {
    color: white;
    margin-left: 20px;
    margin-top: 12.5px;
}

@media screen and (min-width: 769px) {

    nav {
        width: 769px;
    }

    .nav-buttons {
        margin-left: 80px;
    }

    #nav-title {
        display: initial;
    }

    nav>div {
        margin-right: 120px;
    }

    #info-bg {
        width: 620px;
    }

    li,
    button,
    #inner-circle {
        cursor: pointer;
    }

    #calculator {
        animation: glow 2s infinite alternate;
    }

    @keyframes glow {
        from {
            box-shadow: 0 0 600px -200px var(--dark-red);
        }

        to {
            box-shadow: 0 0 600px 200px var(--dark-red);
        }
    }

    #footer {
        display: initial;
    }
}